<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3308/hibernate_formation?serverTimezone=UTC</property>
        <property name="connection.username">giniusAdmin</property>
        <property name="connection.password">DERIEUV93</property>
        <property name="show_sql">true</property>



        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <mapping class="com.formation.entities.Produit" />
        <mapping class="com.formation.entities.Categorie" />

    </session-factory>
</hibernate-configuration>
